@page "/product-category-main-page"
<PageTitle>دسته بندی محصولات</PageTitle>

<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">دسته بندی محصولات</MudText>
    <MudStack>
        <MudTextField @bind-Value="_searchText" Placeholder="جستجو بر اساس نام و توضیحات" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary"
                   OnClick="OnFilterButtonClicked">
            <MudText Typo="Typo.h6">اعمال فیلتر</MudText>
        </MudButton>
    </MudStack>
</MudAlert>
@if (model.Count != 0)
{
    <MudGrid Class="my-8 bg-color-melo">
        @{
            foreach (var item in model)
            {
                <MudItem lg="4" xl="4" md="4" sm="4" xs="4" Style="display:flex;">
                    <MudCard Style="width:fit-content;height:fit-content">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">@item.CategoryName</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudStack>
                                <div class="d-flex justify-center">
                                    <MudImage ObjectFit="ObjectFit.ScaleDown" Fluid="true" Src="@item.ImagePath" Elevation="25" Class="rounded-lg d-flex justify-center" />
                                </div>
                                <MudDivider />
                                <MudText Class="m-2" Typo="Typo.caption">@item.CategoryDescription</MudText>
                            </MudStack>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudStack>
                                <MudButton Class="m-2 d-flex justify-center" Color="Color.Info" Variant="Variant.Filled" Size="Size.Large" OnClick="@(()=>OnReadMoreButtonClicked(item.Id))">دیدن محصولات</MudButton>
                            </MudStack>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        }
    </MudGrid>
}
else
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
}

<MudPagination Color="Color.Primary" Class="d-flex justify-center" Count="_totalPagesCount" SelectedChanged="OnPageChange" BoundaryCount="2" MiddleCount="3" />