@page "/product-detail-page/{Id}"
<PageTitle>جزئیات محصول</PageTitle>

@if(model !=null){
    <MudContainer Class="bg-color-melo">
        <div class="row">
            <div class="col-4 m-4 p-4">
                <MudCard>
                    <MudCardContent>
                        <MudStack>
                            <MudText Typo="Typo.h5" Align="Align.Center">@model.ProductName</MudText>
                            <MudImage Alt="@model.ImageAlt" Src="@model.ImagePath" ObjectFit="ObjectFit.Cover" Class="align-center" />
                        </MudStack>
                        <br />
                        <MudText Typo="Typo.h5" Align="Align.End">_شرکت سازنده_</MudText>
                        <MudText Typo="Typo.h6" Align="Align.End">@model.BuilderCompany</MudText>
                        <br />
                        <MudText Typo="Typo.h5" Align="Align.End">ـ قیمت ـ</MudText>
                        <MudText Typo="Typo.h6" Align="Align.End">@model.Price</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <AuthorizeView>
                            <Authorized>
                                <MudButton ButtonType="ButtonType.Submit" Color="Color.Success" OnClick="AddToBasketAsync" Variant="Variant.Filled">
                                    اضافه کردن به سبد خرید
                                </MudButton>
                            </Authorized>
                            <NotAuthorized>
                                <MudButton ButtonType="ButtonType.Button" Color="Color.Success" OnClick="NotAuthorized" Variant="Variant.Filled">
                                    اضافه کردن به سبد خرید
                                </MudButton>
                            </NotAuthorized>
                        </AuthorizeView>
                    </MudCardActions>
                </MudCard>
            </div>

            <div class="col-6 m-4 p-4">
                <MudCard Style="width:100%; height:100%">
                    <MudCardContent>
                        <MudText Class="m-2" Typo="Typo.caption" Align="Align.Center">@model.ProductDescription</MudText>
                    </MudCardContent>
                </MudCard>
            </div>
        </div>
    </MudContainer>
}else{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
}