@page "/product-detail-page/{Id}"
<PageTitle>Detail</PageTitle>

<div class="row">
    <div class="col-4">
       <MudStack>
            <MudText>_ ـ نام محصول</MudText>
            <MudText Typo="Typo.h5" Align="Align.Center">@model.ProductName</MudText>
            <MudImage Src="@model.ImagePath" ObjectFit="ObjectFit.Cover" Class="align-center" />
       </MudStack>
       <br />
        _شرکت سازده_<MudText>@model.BuilderCompany</MudText>
        <br />
        _قیمت
        <br />
        <br />
        <MudNumericField T="long">@model.Price</MudNumericField>
    </div>  
    
    <div class="col-6">
        <MudText Class="m-2" Typo="Typo.caption" Align="Align.Center">@model.ProductDescription</MudText>
    </div>
</div>