@page "/basket"

<PageTitle>Basket</PageTitle>
<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-6">
                <MudStack>
                    <MudAlert Severity="Severity.Warning" Class="p-5">
                        <MudText Typo="Typo.h4" Style="color:black" Align="Align.Center">
                            ابتدا سبد خرید خود را بررسی کنید
                        </MudText>
                        <MudText Typo="Typo.h4" Style="color:black" Align="Align.Center">
                            تا از درستی سفارش خود اطمینان پیدا کرده و
                        </MudText>
                        <MudText Typo="Typo.h4" Style="color:black" Align="Align.Center">
                            سپس بر روی گزینه ثبت سفارش کلیک نمایید.
                        </MudText>
                    </MudAlert>
                    <MudSpacer />
                    <MudSpacer />
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="SubmitOrder">
                        <MudText Align="Align.Center" Style="color:black" Typo="Typo.h4">ثبت سفارش</MudText>
                    </MudButton>
                </MudStack>
            </div>
            <div class="col-6">
                <MudImage Src="/basket.svg" Class="img-fluid rounded" />
            </div>
        </div>
        <MudSpacer />
        <MudSpacer />
        @if (model != null)
        {
            @foreach (var item in model)
            {
                <div class="row m-5" style="border:1px solid #5C469C">
                    <div class="col-6">
                        <MudImage Alt="@item.ImageAlt" Src="@item.ImagePath" Class=" p-5 m-5 align-self-center img-fluid rounded" />
                    </div>
                    <div class="col-6">

                        <div class="m-5 p-5">
                            <MudText Typo="Typo.h3" Align="Align.Center">@item.ProductName</MudText>
                            <hr />
                            <MudText Typo="Typo.h4" Align="Align.Right">شرکت سازنده</MudText>
                            <MudText Typo="Typo.h4" Align="Align.Left">@item.BuilderCompany</MudText>
                            <hr />
                            <MudText Typo="Typo.h4" Align="Align.Right"> قیمت </MudText>
                            <MudText Typo="Typo.h4" Align="Align.Left">@item.Price</MudText>
                            <hr />
                            <MudText Typo="Typo.h4" Align="Align.Right"> تعداد </MudText>
                            <MudText Typo="Typo.h4" Align="Align.Left">@item.Quantity</MudText>
                            <hr />
                            <MudButton Class="mt-5" OnClick="()=> ChangeProductQuantity(item.ProductName, item.Id, item.Quantity)"
                               Color="Color.Primary" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Edit">
                                <MudText Align="Align.Center" Style="color:black" Typo="Typo.h4">
                                    تغییر تعداد
                                </MudText>
                            </MudButton>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
            <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
        }
    </Authorized>
    <NotAuthorized>
        <HasNoUserAccess />
    </NotAuthorized>
</AuthorizeView>