@page "/contact-us"

<MudText Align="Align.Center" Typo="Typo.h3" Class="mb-5 ir-sans">تماس با ما</MudText>

<div class="row" style="border-bottom:2px double black; padding-bottom:5px">
    <div class="col-5">
        <MudStack>
            <MudText Align="Align.Start" Typo="Typo.h6" Style="color:black">
                <MudText Typo="Typo.h5" Class="ir-sans">پشتیبانی:</MudText> 09301724389
            </MudText>
            <MudText Align="Align.Start" Typo="Typo.h6" Style="color:black">
                <MudText Typo="Typo.h5" Class="ir-sans">فروش:</MudText> 09301724389
            </MudText>
        </MudStack>
    </div>
    <div class="col-5">
        <MudStack>
            <MudText Align="Align.Right" Typo="Typo.h4" Style="color:black" Class="ir-sans">آدرس :</MudText>
            <MudText Align="Align.Right" Typo="Typo.h6" Style="color:black" Class="ir-sans">آمل بلوار فلان , بین کوچه فلان و کوچه فلان , لوازم خانگی مقیمی</MudText>
        </MudStack>
    </div>
</div>
<div class="row mt-5">
    <MudText Align="Align.Center" Typo="Typo.h2" Style="color:black" Class="ir-sans">تیکت</MudText>
    <MudText Align="Align.Center" Typo="Typo.h6" Style="color:black" Class="ir-sans">پیام خود را ثبت کنید تا همکاران ما در اسرع وقت با شما تماس بگیرند.</MudText>
</div>
<div class ="row" style="border-bottom:2px double black; padding-bottom:5px">
    <MudForm Class="m-5">
        <div class="row">
            <div class="col-5 m-1">
                <MudStack>
                    <MudTextField T="string" Label="موضوع" Required="true"
                                  Validation="@model.Subject" @bind-Value="model.Subject" />
                    <MudTextField T="string" Label="ایمیل" Required="true"
                                  Validation="@model.Email" @bind-Value="model.Email" />
                    <MudTextField T="string" Label="شماره تلفن" Required="true"
                                  Validation="@model.Phone" @bind-Value="model.Phone" />
                </MudStack>
            </div>
            <div class="col-5 m-1">
                <MudTextField Lines="8" T="string" Style="width:100%; height:100%" Label="متن پیام" Required="true"
                              Validation="@model.Message" @bind-Value="model.Message" />
            </div>
        </div>
    </MudForm>
    <div class="row">
        <MudButton Class="my-5 mr-15" ButtonType="ButtonType.Button" Style="background-color:#5C469C;width:25%" Href="product-category-main-page">
            <MudText Align="Align.Center" Class="ir-sans" Style="color:white;" Typo="Typo.h6">
                ثبت تیکت <MudIcon Icon="@Icons.Material.Filled.More" />
            </MudText>
        </MudButton>
    </div>

</div>
