@inherits LayoutComponentBase
@using System.Security.Claims

<MudRTLProvider RightToLeft="@_isRtl">
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
        <MudAppBar Elevation="0" Style="background: rgb(6,38,102);
background: linear-gradient(275deg, rgba(6,38,102,1) 1%, rgba(217,19,106,1) 50%, rgba(6,38,102,1) 99%);">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Login" Href="login" Color="Color.Inherit" Target="_blank" />
            <MudIconButton Icon="@Icons.Material.Filled.PersonAddAlt1" Href="registration" Color="Color.Inherit" Target="_blank" />
            <MudIconButton Icon="@Icons.Material.Filled.Person" Href="personal/account" Color="Color.Inherit" Target="_blank" />
            
            <AuthorizeView>
                <Authorized>
                    <MudStack Row="true">
                        <MudText Typo="Typo.subtitle1" Color="Color.Secondary" Class="mx-2"> welcome @context.User.Identity.Name</MudText>
                        <a href="Logout"><MudButton Class="mx-2" Variant="Variant.Outlined" Color="Color.Error">Logout</MudButton></a>
                    </MudStack>
                </Authorized>
            </AuthorizeView>
            <MudSpacer />
            <MudIconButton Icon=@_themeChangerSelectedIcon OnClick="OnThemeChange" Color="Color.Inherit" />
            <MudIconButton Icon=@_directionIcon OnClick="OnRtlLtr" Color="Color.Inherit" />
        </MudAppBar>

        <MudDrawer @bind-Open="_drawerOpen" Elevation="1" Style="background: rgb(6,38,102);
background: linear-gradient(180deg, rgba(6,38,102,1) 35%, rgba(167,39,95,1) 78%);">
            <MudDrawerHeader>
                <MudText Typo="Typo.h5" Color="Color.Error">
                    <div class="d-flex justify-center">
                        <MudImage ObjectFit="ObjectFit.ScaleDown" Fluid="true" Src="/favicon.png" Elevation="25" Class="rounded-lg d-flex justify-center" />
                    </div>
                </MudText>
            </MudDrawerHeader>
            <NavMenu />
        </MudDrawer>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</MudRTLProvider>
@code {
    bool _drawerOpen = true;
    private MudTheme _theme = new();
    private bool _isDarkMode;
    private string _themeChangerSelectedIcon = Icons.Material.Filled.Brightness3;
    private bool _isRtl;

    private string _directionIcon = Icons.Material.Filled.FormatTextdirectionRToL;


    void OnRtlLtr()
    {
        _isRtl = !_isRtl;
        _directionIcon = _isRtl ? Icons.Material.Filled.FormatTextdirectionLToR : Icons.Material.Filled.FormatTextdirectionRToL;
    }
    void OnThemeChange()
    {
        _isDarkMode = !_isDarkMode;
        _themeChangerSelectedIcon = _isDarkMode ? Icons.Material.Filled.WbSunny : Icons.Material.Filled.Brightness3;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
